body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.global-loading {
    position: absolute;
    z-index: 9999;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.global-loading .global-message {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    font-size: 2em;
    padding: 1em;
    border-radius: 1em;
    color: white;
}

#app {
    width: 100%;
    height: 100%;
}

.audio-bgm {
    display: none;
}

/* start view */
.view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lobby-view {}

/* end view */

/* start button */
.button {
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 1em;
    cursor: pointer;
    background-color: darksalmon;
}

.button:hover {
    background-color: lightsalmon;
}

.button:active {
    background-color: saddlebrown;
}

/* end button */

/* start card */
.card {
    width: 2em;
    height: 4em;
    line-height: 2em;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1em;
    border: tomato 2px solid;
    border-radius: 1em;
    background-color: lightcoral;
    color: white;
    font-weight: 600;
    text-align: center;
    writing-mode: vertical-lr;
    cursor: pointer;
}

.card:hover {
    background-color: coral;
}

.card:active {
    background-color: saddlebrown;
}

/* end card */

.status-bar {
    height: 20%;
    min-height: 2em;
    width: 100%;
    vertical-align: middle;
    background-color: skyblue;
    text-align: center;
}

.status-bar .energy {
    font-size: 2em;
    height: 100%;
    min-height: 2em;
    vertical-align: middle;
    line-height: 2em;
}

.battle-field {
    height: 40%;
    min-height: 8em;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-container {
    width: 50%;
}


.player-container .player-img {
    width: 100%;
    height: 100%;
    /* background-image: url('../images/wukong_stand.gif'); */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}

.player-container .player-img .skill-card {
    cursor: default;
}

.player-container .player-img .skill-card:hover {
    background-color: lightcoral;
}

.player-container .player-img .skill-card:active {
    background-color: lightcoral;
}

.player-container .player-img .lock-skill-button {
    /* display: none; */
}

.player-container .player-img.player2 {
    flex-direction: column;
    transform: rotateY(180deg);
}

.player-container .player-img.player2 .skill-card {
    transform: rotateY(180deg);
}

.card-pool {
    height: 40%;
    min-height: 16em;
    width: 100%;
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.actions {
    display: flex;
    flex-direction: column;
    text-align: center;
}